services:
  backend:
    build: ./apps/backend
    ports:
      - "8000:8000"
    env_file:
      - ./apps/backend/.env.example
    environment:
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_DB=${MONGO_DB}
      - MONGO_APP=${MONGO_APP}
    networks: [stack]

  frontend:
    build: ./apps/frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
    networks: [stack]

networks:
  stack: {}
